vendor/
assets/
languages/
node_modules
dist
frontend/yarn-error.log
frontend/coverage/*
frontend/src/coverage/*
frontend/storybook-static/*
frontend/node_modules/
frontend/locale.pot
.php-cs-fixer.cache
tests.config.php
.phpunit.result.cache
eslint-cache/
.husky/
locale.pot
.vscode/settings.json
package-lock.json
