.inputLabel {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--txt);
  cursor: default;
}

.input {
  padding: 5px 8px !important;
  width: 400px;
  border-radius: 10px !important;
  background-color: #f7f9fd !important;
  border: none !important;
}

/* .input:focus {
  border-color: #4096ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  border-inline-end-width: 1px;
  outline: 0;
} */