.button {
  border-radius: 8px;
  width: 120px;
  height: 34px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  background-color: #2c2940;
  color: #fff;
  transition: 0.3s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.32);
}
