/* stylelint-disable comment-whitespace-inside */
::-webkit-datetime-edit {
  line-height: 1;
}

* {
  box-sizing: border-box;

  /* line-height: 1; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-shadow: rgba(0, 0, 0, 1%) 0 0 1px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--accent-color);
}

#bit-apps-root {
  background: var(--bg);
  direction: ltr !important;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 16px;
  overflow: auto;
}

#bit-apps-root input {
  min-height: auto;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

svg {
  pointer-events: none;
  display: inline-block;
}

a:focus {
  outline: none;
}

/* skelaton loader */
.loader {
  background: var(--bg);
  background-image: linear-gradient(90deg, var(--bg-5) 0, var(--bg-10) 30px, var(--bg-5) 60px);
  background-size: 200%;
  animation: skeleton 1s infinite ease-out;
}

@keyframes skeleton {
  0% {
    background-position: calc(100%);
  }

  60%,
  100% {
    background-position: -100%;
  }
}

@keyframes dashanim {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -150px;
  }
}

textarea {
  width: 400px !important;
}

/*--Ant-Popup Confirm--*/

.telemetry-popconfirm .ant-popover-content .ant-popover-inner {
  width: 450px;
}

.telemetry-popconfirm .ant-popconfirm-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-flow: row-reverse;
}

.telemetry-popconfirm .ant-popconfirm-buttons .ant-btn-default {
  background: #1677ff;
  box-shadow: none;
  border-color: transparent !important;
  color: white;
}

.telemetry-popconfirm .ant-popconfirm-buttons .ant-btn-default:hover {
  background: #4096ff !important;
  color: #fff !important;
  border-color: none;
}

.telemetry-popconfirm .ant-popconfirm-buttons .ant-btn-primary {
  background: none;
  border: none;
  box-shadow: none;
  color: #776d6d;
}

.telemetry-popconfirm .ant-popconfirm-buttons .ant-btn-primary:hover {
  background: none !important;
  color: #534e4e !important;
}

.bit-social-release-modal img {
  border-radius: 10px;
}

.bit-social-release-modal .ant-modal-content {
  padding: 0 !important;
  text-align: center;
}
