.allIntegrations {
  height: 100vh;
  margin: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  cursor: default;
}

.tableTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
